
.white-bg {
	border: 3px solid #fff;
	border-radius: 50%;
	background: #fff;
	border-bottom: none;
	width: 2rem;
}

.markup-info {
	color: #e10;
	background-color: #eee;
	width: 33%;
    margin: 0 auto;
}

#pbrx-trigger {
	filter:hue-rotate( 175deg );
    position: fixed;
    right: 3rem;
    top: 3rem;
    z-index: 9999;
}

#pbrx-trigger:hover {
	cursor: pointer;
}

.salmon-js {
    margin: 0px;
	color: salmon;
	text-shadow: 1px 1px #fff;
	display: none;
}
